<div id="change_locale">
  <input type="hidden" name="locale" value="<%= Locale.active.code %>">
  Locale: 
  <%= GlobalizeExtension.locales.map do |locale|
    link_to_unless(Locale.active.code == locale, locale, params.merge(:locale => locale))
  end.join(' | ') -%>
</div>