<% @stylesheets << 'admin/globalize' %>
<div id="globalize">
  <input type="hidden" name="locale" value="<%= Locale.active.code %>">
  <div id="edit">
    <p>Locale:</p>
    <% GlobalizeExtension.locales.map do |locale| %>
        <span class="locale">
        <%= link_to_unless(Locale.active.code == locale, "<img src='/images/admin/#{locale}.gif' alt='#{locale}' />", params.merge(:locale => locale), :class => "not_active") %>
      <% if !@page.nil? && Locale.active.code == locale %>
        <% if Locale.active.code != GLOBALIZE_BASE_LANGUAGE %>
          <% if @page.translated_title? %>
            <span class="translated">(translated)</span>
          <% else %>
            <span class="not-translated">(not translated)</span>
          <% end -%>
        <% else %>  
          <span>(default)</span>
        <% end -%>
      <% end -%>
    </span>
  <%  end -%>
  <% unless @page.nil? || Locale.active.code == GLOBALIZE_BASE_LANGUAGE %>
    <label for="reset_translations">
      <input type="checkbox" value="true" name="page[reset_translations]" id="reset_translations" />
      Delete <%= Locale.active.code.upcase %> translation
    </label>
  <% end -%>
  </div>
</div>